<template>
  <div>
    <div v-if="loading">
      <Loading />
    </div>
    <div v-else-if="!loading" class="mt-5">
      <v-form ref="form">
        <h3 class="font-weight-bold">
          Add Invoice
          <v-btn color="success" class="float-right" @click="STORE()">
            Save
          </v-btn>
        </h3>
        <div class="clearfix" />
        <v-row>
          <v-col cols="12" sm="6" class="d-flex align-center justify-center">
            <v-autocomplete
              v-model="customer_selection"
              :rules="rules.required"
              :items="customers"
              item-text="name"
              item-value="customer_id"
              label="Customer"
              append-icon="mdi-chevron-down"
              return-object
              @change="updateCustomer()"
            >
              <template #label>
                Customer
                <sup>
                  <span class="red--text">
                    <strong>*</strong>
                  </span>
                </sup>
              </template>
            </v-autocomplete>
            <v-btn color="orange" class="ml-3 w-100" @click="GET_CUSTOMERS()">
              Refresh
            </v-btn>
          </v-col>
          <v-col cols="12" sm="6">
            <v-text-field
              v-model="invoice.customer_name"
              placeholder="Customer Name"
              readonly
            />
          </v-col>
          <v-col cols="12" sm="6">
            <v-text-field
              v-model="invoice.customer_address"
              placeholder="Customer Address"
              readonly
            />
          </v-col>
          <v-col cols="12" sm="6">
            <v-text-field
              v-model="invoice.customer_phone"
              placeholder="Customer Phone"
              readonly
            />
          </v-col>
          <v-col cols="12">
            <v-divider class="my-5" />
            <v-row align="center">
              <v-col cols="5">
                <v-autocomplete
                  v-model="item_selection"
                  :items="items"
                  item-text="name"
                  item-value="item_id"
                  label="Item"
                  append-icon="mdi-chevron-down"
                  return-object
                >
                  <template #label>
                    Item
                    <sup>
                      <span class="red--text">
                        <strong>*</strong>
                      </span>
                    </sup>
                  </template>
                </v-autocomplete>
              </v-col>
              <v-col cols="2" class="w-100 text-center">
                <v-btn color="primary" class="w-100" @click="addItem()">
                  Add Item
                </v-btn>
              </v-col>
              <v-col cols="2">
                <v-btn color="orange" class="w-100" @click="GET_ITEMS()">
                  Refresh
                </v-btn>
              </v-col>
            </v-row>

            <div class="clearfix" />

            <v-simple-table class="text-center">
              <template v-slot:default class="text-center">
                <thead class="text-center">
                  <tr>
                    <th>Item ID</th>
                    <th>Item Name</th>
                    <th>Qty</th>
                    <th>Unit Price</th>
                    <th>Amount</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in invoice_items" :key="item.id">
                    <td>{{ "P" + String(item.id).padStart(4, '0') }}</td>
                    <td>{{ item.name }}</td>
                    <td>
                      <v-text-field
                        v-model="item.quantity"
                        type="text"
                        outlined
                        small
                        dense
                        solo
                        hide-details
                        min="0"
                        class="product-quantity input-center"
                        append-icon="mdi-plus"
                        prepend-inner-icon="mdi-minus"
                        @keypress="onlyNumber"
                        @click:prepend-inner="decreaseQuantity(item)"
                        @click:append="increaseQuantity(item)"
                      />
                    </td>
                    <td>{{ `$ ${formatCurrency(item.unit_price)}` }}</td>
                    <td>{{ `$ ${formatCurrency(item.unit_price * item.quantity)}` }}</td>
                    <td>
                      <v-btn x-small color="red" @click="deleteItem(item)">
                        Remove
                      </v-btn>
                    </td>
                  </tr>
                  <tr v-if="!invoice_items.length">
                    <td colspan="6">
                      Invoice items currently empty
                    </td>
                  </tr>
                  <tr v-if="calculate_sub_total">
                    <td colspan="4" class="font-weight-bold text-center">
                      Sub Total
                    </td>
                    <td>
                      {{ `$ ${formatCurrency(calculate_sub_total)}` }}
                    </td>
                    <td />
                  </tr>
                  <tr v-if="calculate_tax">
                    <td colspan="4" class="font-weight-bold text-center">
                      Tax (10%)
                    </td>
                    <td>
                      {{ `$ ${formatCurrency(calculate_tax)}` }}
                    </td>
                    <td />
                  </tr>
                  <tr v-if="calculate_total">
                    <td colspan="4" class="font-weight-bold text-center">
                      Total
                    </td>
                    <td>
                      {{ `$ ${formatCurrency(calculate_total)}` }}
                    </td>
                    <td />
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-col>
        </v-row>
      </v-form>
    </div>
    <v-dialog v-model="save_dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">
          Save Invoice?
        </v-card-title>
        <v-card-actions>
          <v-spacer />
          <v-btn color="green darken-1" text @click="save_dialog = false">
            Cancel
          </v-btn>
          <v-btn color="green darken-1" text @click="STORE()">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Loading from '~/components/Loading'

export default {
  middleware: 'staff',
  components: {
    Loading
  },
  data () {
    return {
      customer_selection: null,
      item_selection: null,
      loading: false,
      backup: {},
      save_dialog: false,
      invoice: {
        customer_id: null,
        customer_name: null,
        customer_address: null,
        customer_phone: null
      },
      invoice_items: []
    }
  },
  computed: {
    ...mapState({
      rules: state => state.rules,
      invoice: state => state.invoice.invoice,
      loading: state => state.invoice.loading,
      customers: state => state.customer.customers,
      items: state => state.item.items
    }),
    calculate_sub_total () {
      let calculate = 0

      if (this.invoice_items.length) {
        this.invoice_items.forEach((item) => {
          calculate += parseFloat(item.unit_price).toFixed(2) * item.quantity
        })
      }

      return calculate
    },
    calculate_tax () {
      let calculate = 0

      if (this.invoice_items.length) {
        this.invoice_items.forEach((item) => {
          calculate += parseFloat(item.unit_price).toFixed(2) * item.quantity
        })
      }

      return calculate * 0.1
    },
    calculate_total () {
      let calculate = 0

      if (this.invoice_items.length) {
        this.invoice_items.forEach((item) => {
          calculate += parseFloat(item.unit_price).toFixed(2) * item.quantity
        })
      }

      return calculate * 1.1
    }
  },
  mounted () {
    this.GET_CUSTOMERS()
    this.GET_ITEMS()
  },
  methods: {
    GET_ITEMS () {
      this.$store.dispatch('item/GET_ALL')
    },
    GET_CUSTOMERS () {
      this.$store.dispatch('customer/GET_ALL')
    },
    async STORE () {
      if (this.$refs.form.validate()) {
        if (this.invoice_items.length <= 0) {
          this.$store.commit('SET_SNACK', 'Item is still empty')
          return false
        }

        const response = await this.$store.dispatch('invoice/STORE', {
          customerId: this.customer_selection.id,
          invoiceItems: this.invoice_items
        })

        if (response) {
          this.$store.commit('SET_SNACK', response.message)
          if (response.status === 'success') {
            this.$router.push(`/invoices/${response.data.id}/detail`)
          }
        } else {
          this.$store.commit('SET_SNACK', 'Server error, please try again')
        }
      } else { this.$store.commit('SET_SNACK', 'Please fill in the customer data and at least one item in the invoice') }
    },
    updateCustomer () {
      this.invoice.customer_id = this.customer_selection.id
      this.invoice.customer_name = this.customer_selection.name
      this.invoice.customer_address = this.customer_selection.address
      this.invoice.customer_phone = this.customer_selection.phone
    },
    addItem () {
      // Check existing
      if (this.item_selection) {
        let existed = false
        this.invoice_items.forEach((item) => {
          if (this.item_selection.id === item.id) { existed = true }
        })

        if (existed) {
          this.$store.commit('SET_SNACK', 'Item already existed')
        } else {
          const newItem = this.item_selection
          newItem.quantity = 1
          this.invoice_items.push(newItem)
        }
      } else {
        this.$store.commit('SET_SNACK', 'No item selected')
      }
    },
    increaseQuantity (item) {
      if (this.invoice_items.length) {
        let duplicate = this.invoice_items

        duplicate = duplicate.map((value, index) => {
          if (value.id === item.id) {
            value.quantity++
          }
          return value
        })

        this.invoice_items = duplicate
      }
    },
    decreaseQuantity (item) {
      if (this.invoice_items.length) {
        let duplicate = this.invoice_items

        duplicate = duplicate.map((value, index) => {
          if (value.id === item.id) {
            if (value.quantity > 1) {
              value.quantity--
            }
          }

          return value
        })

        this.invoice_items = duplicate
      }
    },
    deleteItem (item) {
      if (this.invoice_items.length) {
        this.invoice_items.forEach((value, index) => {
          if (value.id === item.id) {
            this.invoice_items.splice(index, 1)
          }
        })
      }
    }
  }
}
</script>
