<template>
  <div>
    <div class="d-block my-4 text-right">
      <v-btn color="success" @click="REFRESH()">
        Refresh
      </v-btn>
      <v-btn v-if="$auth.loggedIn && $auth.user.role === 'staff'" color="primary" to="/invoices/create">
        Create
      </v-btn>
    </div>

    <v-data-table
      :headers="headers"
      :items="invoices"
      :loading="loading"
      loading-text="Please wait..."
    >
      <template v-slot:item.active="{ item }">
        <v-chip :color="item.active ? 'success' : 'danger'" dark>
          {{ item.active ? 'Yes' : 'No' }}
        </v-chip>
      </template>
      <template v-slot:item.featured="{ item }">
        <v-chip :color="item.featured ? 'success' : 'danger'" dark>
          {{ item.featured ? 'Yes' : 'No' }}
        </v-chip>
      </template>
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>List of Invoices</v-toolbar-title>
          <v-spacer />
        </v-toolbar>
      </template>
      <template v-slot:item.total="{ item }">
        {{ `$ ${formatCurrency(item.total)}` }}
      </template>
      <template v-slot:item.created_at="{ item }">
        {{ `${formatDate(item.created_at, "DD MMMM YYYY")}` }}
      </template>
      <template v-slot:item.action="{ item }">
        <v-btn x-small color="primary" :to="`/invoices/${item.id}/detail`">
          Detail
        </v-btn>
        <v-btn v-if="$auth.loggedIn && ($auth.user.role === 'staff' || $auth.user.role === 'lead')" x-small :to="`/invoices/${item.id}/edit`" color="orange">
          Edit
        </v-btn>
        <v-btn v-if="$auth.loggedIn && $auth.user.role === 'lead'" x-small color="red" @click="deleteInvoice(item)">
          Delete
        </v-btn>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  middleware: 'all_roles',
  computed: {
    ...mapState({
      invoices: state => state.invoice.invoices,
      loading: state => state.invoice.loading
    })
  },
  watch: {
    options: {
      handler () {
        this.GET()
      },
      deep: true
    }
  },
  mounted () {
    this.GET()
  },
  methods: {
    REFRESH () {
      this.GET()
    },
    GET () {
      this.$store.dispatch('invoice/GET_ALL')
    },
    deleteInvoice (item) {
      this.$store.dispatch('invoice/DELETE', item.id)
    }
  },
  data () {
    return {
      options: {
        page: 1,
        itemsPerPage: 5,
        search: ''
      },
      headers: [
        { text: 'ID', value: 'id', align: 'center' },
        { text: 'Date', value: 'created_at', align: 'center' },
        { text: 'Customer Name', value: 'customer.name', align: 'center' },
        { text: 'Customer Address', value: 'customer.address', align: 'center' },
        { text: 'Total Invoice Amount', value: 'total', align: 'center' },
        { text: 'Action', value: 'action', sortable: false, searchable: false, align: 'center' }
      ]
    }
  }
}
</script>
