<template>
  <v-container
    fluid
    fill-height
    class="pa-10"
  >
    <v-col cols="12" align="center" justify="center" class="mt-10 pt-10">
      <v-progress-circular
        :size="45"
        color="primary"
        class="mt-10"
        indeterminate
      />
      <p class="mt-5">
        Please wait ...
      </p>
    </v-col>
  </v-container>
</template>
