<template>
  <v-container
    fluid
    class="mt-10 pt-10 text-center"
  >
    <div class="my-10">
      <v-col cols="10" sm="8" class="text-center mx-auto">
        <div class="d-flex justify-center">
          <h3 class="section-title main-color letter-spacing text-uppercase dosis-bold">
            Data Not Found
          </h3>
        </div>
      </v-col>

      <v-col cols="8" sm="6" md="4" class="mx-auto my-3 gt-walsheim-pro-regular main-color">
        <div class="d-block mb-8">
          It seems like what you are looking for doesn’t exist anymore!
        </div>
        <v-btn color="primary" to="/">
          Back to Home
        </v-btn>
        <v-btn color="orange" @click="$router.go(-1)">
          Previous Page
        </v-btn>
      </v-col>
    </div>
  </v-container>
</template>
