<template>
  <v-snackbar
    v-model="show"
    top
    color="white"
    class="black--text"
  >
    {{ message }}

    <v-btn
      @click="show = false"
    >
      Close
    </v-btn>
  </v-snackbar>
</template>

<script>
export default {
  data () {
    return {
      show: false,
      message: ''
    }
  },
  created () {
    this.$store.watch(state => state.snack, () => {
      const msg = this.$store.state.snack
      if (msg !== '') {
        this.show = true
        this.message = this.$store.state.snack
        this.$store.commit('SET_SNACK', '')
      }
    })
  }
}
</script>
