<template>
  <div>
    <div class="d-block my-4 text-right">
      <v-btn color="success" @click="REFRESH()">
        Refresh
      </v-btn>
    </div>

    <v-data-table
      :headers="headers"
      :items="customers"
      :loading="loading"
      loading-text="Please wait..."
    >
      <template v-slot:item.active="{ item }">
        <v-chip :color="item.active ? 'success' : 'danger'" dark>
          {{ item.active ? 'Yes' : 'No' }}
        </v-chip>
      </template>
      <template v-slot:item.featured="{ item }">
        <v-chip :color="item.featured ? 'success' : 'danger'" dark>
          {{ item.featured ? 'Yes' : 'No' }}
        </v-chip>
      </template>
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Last Customer Invoice</v-toolbar-title>
          <v-spacer />
        </v-toolbar>
      </template>
      <template v-slot:item.total="{ item }">
        {{ item.total ? `$ ${formatCurrency(item.total)}` : `` }}
      </template>
      <template v-slot:item.created_at="{ item }">
        {{ item.total ? `${formatDate(item.created_at, "DD MMMM YYYY")}` : `` }}
      </template>
      <template v-slot:item.action="{ item }">
        <v-btn v-if="item.invoice_id" x-small color="primary" :to="`/invoices/${item.invoice_id}/detail`">
          Invoice Detail
        </v-btn>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  middleware: 'director',
  computed: {
    ...mapState({
      customers: state => state.customer.customers,
      loading: state => state.customer.loading
    })
  },
  watch: {
    options: {
      handler () {
        this.GET()
      },
      deep: true
    }
  },
  mounted () {
    this.GET()
  },
  methods: {
    REFRESH () {
      this.GET()
    },
    GET () {
      this.$store.dispatch('customer/REPORTING')
    }
  },
  data () {
    return {
      options: {
        page: 1,
        itemsPerPage: 5,
        search: ''
      },
      headers: [
        { text: 'Customer Name', value: 'name', align: 'center' },
        { text: 'Customer Phone', value: 'phone', align: 'center' },
        { text: 'Last Invoice ID', value: 'invoice_id', align: 'center' },
        { text: 'Last Invoice Date', value: 'created_at', align: 'center' },
        { text: 'Last Invoice Amount', value: 'total', align: 'center' },
        { text: 'Action', value: 'action', sortable: false, searchable: false, align: 'center' }
      ]
    }
  }
}
</script>
