<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <v-list-item
          to="/invoices"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>mdi-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="`Invoices`" />
          </v-list-item-content>
        </v-list-item>
        <v-list-item
          v-if="$auth.loggedIn && $auth.user.role === 'director'"
          to="/customers/reporting"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>mdi-graph</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="`Reporting`" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <v-btn
        v-if="$auth.loggedIn"
        text
      >
        {{ $auth.user.email + " (" + $auth.user.role + ")" }}
      </v-btn>
      <v-btn v-if="$auth.loggedIn" color="red" text @click="logOut()">
        Log Out
      </v-btn>
    </v-app-bar>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <v-footer
      :fixed="fixed"
      app
    >
      <span>Technical Test - Ervan Kurnia Sanjaya - PT FinAccel / Kredivo - &copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
    <Snackbar />
  </v-app>
</template>

<script>
import Snackbar from '~/components/Snackbar'

export default {
  components: { Snackbar },
  data () {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Kredivo'
    }
  },
  methods: {
    logOut () {
      this.$auth.logout()
    }
  }
}
</script>
