<template>
  <v-container>
    <div v-if="loading">
      <Loading />
    </div>
    <div v-else>
      <div v-if="invoice.id">
        <div class="d-block my-4 text-right">
          <v-btn color="success" @click="REFRESH()">
            Refresh
          </v-btn>
          <v-btn v-if="$auth.loggedIn && ($auth.user.role === 'staff' || $auth.user.role === 'lead')" :to="`/invoices/${$route.params.id}/edit`" color="orange">
            Edit
          </v-btn>
        </div>

        <h3 class="text-center text-uppercase">
          Invoice
        </h3>

        <h3 class="font-weight-bold mt-5 mb-10">
          Company Inc.
        </h3>

        <v-row>
          <v-col cols="12" sm="7">
            <v-row>
              <v-col cols="4">
                <span class="font-weight-bold">Customer Name</span>
              </v-col>
              <v-col cols="8">
                <span>{{ invoice.customer_name }}</span>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="4">
                <span class="font-weight-bold">Customer Address</span>
              </v-col>
              <v-col cols="8">
                <span>{{ invoice.customer_address }}</span>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="4">
                <span class="font-weight-bold">Customer Phone</span>
              </v-col>
              <v-col cols="8">
                <span>{{ invoice.customer_phone }}</span>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" sm="5">
            <v-row>
              <v-col cols="4">
                <span class="font-weight-bold">Invoice #</span>
              </v-col>
              <v-col cols="8">
                <span>{{ "IV" + String(invoice.id).padStart(3, '0') }}</span>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="4">
                <span class="font-weight-bold">Invoice Date</span>
              </v-col>
              <v-col cols="8">
                <span>{{ formatDate(invoice.created_at, "DD/MM/YYYY") }}</span>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <v-divider />

        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th>Item ID</th>
                <th>Item Name</th>
                <th>Qty</th>
                <th>Unit Price</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in invoice.items" :key="item.id">
                <td>{{ "P" + String(item.item_id).padStart(4, '0') }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ `$ ${formatCurrency(item.unit_price)}` }}</td>
                <td>{{ `$ ${formatCurrency(item.amount)}` }}</td>
              </tr>
              <tr>
                <td colspan="4" class="font-weight-bold text-center">
                  Sub Total
                </td>
                <td>
                  {{ `$ ${formatCurrency(invoice.sub_total)}` }}
                </td>
              </tr>
              <tr>
                <td colspan="4" class="font-weight-bold text-center">
                  Tax (10%)
                </td>
                <td>
                  {{ `$ ${formatCurrency(invoice.tax)}` }}
                </td>
              </tr>
              <tr>
                <td colspan="4" class="font-weight-bold text-center">
                  Total
                </td>
                <td>
                  {{ `$ ${formatCurrency(invoice.total)}` }}
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </div>
      <div v-else>
        <NotFound />
      </div>
    </div>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'
import Loading from '~/components/Loading'
import NotFound from '~/components/NotFound'

export default {
  middleware: 'all_roles',
  components: { Loading, NotFound },
  computed: {
    ...mapState({
      invoice: state => state.invoice.invoice,
      loading: state => state.invoice.loading
    })
  },
  watch: {
    options: {
      handler () {
        this.GET()
      },
      deep: true
    }
  },
  mounted () {
    this.GET()
  },
  methods: {
    REFRESH () {
      this.GET()
    },
    GET () {
      this.$store.dispatch('invoice/GET', this.$route.params.id)
    }
  }
}
</script>
