<template>
  <v-content>
    <v-container fill-height="fill-height">
      <v-layout align-center="align-center" justify-center="justify-center">
        <v-flex class="login-form text-xs-center">
          <div class="display-1 mb-3">
            <v-icon class="mr-2" large="large">
              mdi-work
            </v-icon> Kredivo Invoice
          </div>
          <v-card light="light">
            <v-card-text>
              <v-form ref="form">
                <v-text-field
                  v-model="user.email"
                  prepend-icon="mdi-email"
                  label="Email"
                  type="email"
                  :rules="rules.email"
                  @keyup.enter.prevent="LOGIN"
                />
                <v-text-field
                  v-model="user.password"
                  light="light"
                  prepend-icon="mdi-lock"
                  label="Password"
                  type="password"
                  :rules="rules.required"
                  @keyup.enter.prevent="LOGIN"
                />

                <div class="mx-auto text-center">
                  <v-btn color="primary" :loading="loading" @click="LOGIN()">
                    Sign in
                  </v-btn>
                </div>
              </v-form>
            </v-card-text>
          </v-card>

          <div class="text-center mx-auto">
            <p class="mt-5">
              Users (Select to autofill):
            </p>
            <v-btn color="red" @click="autoFill('staff')">
              Staff
            </v-btn>
            <v-btn color="primary" @click="autoFill('lead')">
              Lead
            </v-btn>
            <v-btn color="success" @click="autoFill('director')">
              Director
            </v-btn>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<style type="text/css">
  .login-form {
    max-width: 500px
  }
</style>

<script>
import { mapState } from 'vuex'

export default {
  data () {
    return {
      user: {
        email: null,
        password: null
      }
    }
  },
  computed: {
    ...mapState({
      rules: state => state.rules,
      loading: state => state.loading
    })
  },
  methods: {
    autoFill (value) {
      this.user.email = value + '@kredivo.com'
      this.user.password = value
    },
    async LOGIN () {
      if (this.$refs.form.validate()) {
        this.loading = true
        try {
          const response = await this.$auth.loginWith('local',
            {
              data:
                {
                  email: this.user.email,
                  password: this.user.password
                }
            }
          )

          this.$store.commit('SET_SNACK', response.data.message)
        } catch (error) {
          this.$store.commit('SET_SNACK', 'We could not find your data, please try again')
        }
        this.loading = false
      } else {
        this.$store.commit('SET_SNACK', 'You have to complete the login form')
      }
    }
  }
}
</script>
