<template>
  <v-content>
    <v-container fill-height="fill-height">
      <v-layout align-center="align-center" justify-center="justify-center">
        <v-flex class="login-form text-xs-center">
          <div class="display-1 mb-3">
            <div class="mx-auto text-center">
              <span class="d-block mb-5">
                Unfortunately, you cannot access this page
              </span>
              <v-btn color="primary" to="/">
                Back to Home
              </v-btn>
            </div>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>
